/*
    Order creation product select dropdown list design
*/
.select2-container .select2-selection--single {
    height: 36px!important;
}
.select2-container .select2-selection--single .select2-selection_rendered {
    line-height: 36px!important;
}

.select2-container .select2-selection--single .select2-selection_arrow {
    height: 36px!important;
}

.quantityInput {
    width: 50px !important;
    padding: 6px 3px;
    text-align: center;
    border: 1px solid #cfb1b1;
    outline: 0;
    margin-right: 1px;
}